#########################
# .dockeringnore
# Reference: https://docs.docker.com/engine/reference/builder/#dockerignore-file
#########################

# Blacklist everything
*

# Include the documentation
!README.md
!LICENSE

# Include the scripts
!scripts/
!scripts/entrypoint.sh
!scripts/functions.sh

# Include thc conf
!Cargo.toml
!Cargo.lock

# Include the source code
!src/
!src/**

# Include the assets
!assets/
!assets/**
